{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container-fluid p-4 food-gallery">

    <div class="row justify-content-center text-center">
        <h1 class="mt-4 pt-4 main-title">Sandra's Kitchen</h1>

    </div>
    <div class="row">
        <!-- for each food item in the database create a card with the food image and food title -->
        {% for food in object_list %}
        <div class="col d-flex justify-content-center flex-wrap mt-4 text-center">
            <div class="card home-card" style="width: 18rem;">
                <img src="{{ food.image.url }}" class="card-img-top" alt="{{ food.name }}">
                <div class="card-body">

                    <p class="card-title">{{ food.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}