/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Great+Vibes&display=swap');

body{
    background-color: #000000;
    background-image: linear-gradient( #000000 0%, #052236 74%);
    color: white;
    font-family: 'Dosis', sans-serif;
}

h1, h3 {
    color: whitesmoke;
}

/* Navbar */

#mainNavbar {
    background-color: #000407;
}

.navbar-brand, .footer-brand, h1, h3{
    font-family: 'Great Vibes', cursive;
}


/* Home Page */

.home-card {
    background-color: #000407;
    color: whitesmoke;
}

/* Reservation Styling */

.res-details{
    background-color: #000407;
    min-height: 90vh;
}


/* Footer */

footer {
    margin-top: 2%;
    padding-top: 2em;
    background-color: #052236;
    background-image: linear-gradient(#052236 0%, #000000 10%);
    display: flex;
    flex-flow:row wrap;
}

footer ul {
    list-style-type: none;
}