<div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navMenu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reservation' %}">Book</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarMenu" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" aria-label="My account options">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarMenu">
          <a class="dropdown-item" href="{% url 'reservation_details' %}" aria-label="The my bookings page">My Reservations</a>
          <a class="dropdown-item" href="{% url 'account_logout' %}" aria-label="The logout page">Logout</a>
          {% else %}
          <a class="nav-link" href="{% url 'account_signup' %}" aria-label="The register page">Register</a>
          <a class="nav-link" href="{% url 'account_login' %}" aria-label="The login page">Login</a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>