{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container-fluid">
    <div class="row text-center">
        <h1 class="mt-4 p-4">Our Menu</h1>
        <hr>
    </div>

    <div class="row text-center">
        <!-- search through menu object and display data that conforms to filters provided  -->
        <div class="col">
            <h3>Starters</h3>
            <hr>
            <div class="row m-2 d-flex justify-content-center flex-wrap text-center">
            {% for food in object_list %}
                {% if food.type == 'Starter' %}
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ food.name }}</div>
                    <div class="card-body">
                      <p class="card-text">{{ food.description }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="col">
            <h3>Mains</h3>
            <hr>
            <div class="row m-2 col d-flex justify-content-center flex-wrap text-center">
            {% for food in object_list %}
                {% if food.type == 'Main' %}
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ food.name }}</div>
                    <div class="card-body">
                      <p class="card-text">{{ food.description }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="col">
            <h3>Dessert</h3>
            <hr>
            <div class="row m-2 col d-flex justify-content-center flex-wrap text-center">
            {% for food in object_list %}
                {% if food.type == 'Dessert' %}
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ food.name }}</div>
                    <div class="card-body">
                      <p class="card-text">{{ food.description }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

    </div>
</section>
{% endblock %}