{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block content %}
<section class="container-fluid">
    <div class="row text-center">
        <h3 class="mt-4 p-4">Our Menu</h3>
    </div>
    <div class="row">
        <div class="col">
            <h5>Sides</h5>
            <!-- for each id with sides as tag -->
            <div class="row">
                <strong>name</strong>
                <p>description</p>
            </div>
            <!-- end for -->
        </div>
        <div class="col">
            <h5>Mains</h5>
            <!-- for each id with mains as tag -->
            <div class="row">
                <strong>name</strong>
                <p>description</p>
            </div>
            <!-- end for -->
        </div>
        <div class="col">
            <h5>Drinks</h5>
            <!-- for each id with drinks as tag -->
            <div class="row">
                <strong>name</strong>
                <p>description</p>
            </div>
            <!-- end for  -->
        </div>
</section>
{% endblock %}