{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="text-center">
      <h3>{% trans "Sign In" %}</h3>

      {% get_providers as socialaccount_providers %}

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 mt-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-dark" type="submit">{% trans "Sign In" %}</button>
      </form>

      <p class="mt-4">{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
    </div>
  </div>
</div>
{% endblock %}